.bb {
  margin-bottom: 1px;
}
.bb:hover {
  color: theme("colors.primary");
  border-bottom: 1px solid theme("colors.primary");
}

@font-face {
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("~/assets/font/Satoshi-Variable.ttf") format("truetype");
}

* {
  font-family: "Satoshi", Inter, system-ui, sans-serif;
  font-size: 14px;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}
